@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

*{
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;  
}

body{
    height:fit-content;
    color: black;
}

.example{
    margin: 20px auto; 
    cursor: pointer;
    height: 500px;
}

.card:hover{
    transform: scale(1.02);
}

.nav{
    padding: 10px;
    border-bottom: 1px solid rgb(138, 138, 138);
    margin-bottom: 10px;
    background-color: rgb(238, 238, 238);
}

.invisible{
    display: none;
}

@media(max-width:1407px){
    .example{
        height: 480px;
    }
    
}

@media(max-width:1215px){
    .example{
        height: 450px;
    }
    
    
}

@media(max-width: 990px){
    .invisible{
        display: block;
    }
}

@media(max-width:767px){
    .example{
        height: 560px;
    }

    .service{
        margin: 10px auto;
    }

    .invisible{
        display: none;
    }
    
}

.nav-link{
    color: black;
    margin: auto 30px;
    font-size: 1.2em;
}

.nav-link:hover{
    color: rgb(4, 0, 255);
}

#projects, #prices, #contact, #aboutMe{
    font-size: 2.5em;
    margin: 10px 0;
}

a{
    color: white;
}

a:hover{
    color: rgb(171, 170, 184);
    text-decoration: none;
}

footer{
    text-align: center;
    color: rgb(171, 170, 184);
}

.service{
    height: auto;
    text-align: center;
}

#serviceInfo1, #serviceInfo2, #serviceInfo3, #serviceInfo4{
    text-align: left;
    display: none;
}

#instagram{
    color: black;
}

#gmail, #instagram{
    display: inline-block;
    width: 18px;
}

#mail, #ig{
    display: inline;
}

#photoOfMe{
    border-radius: 500px;
    width: 400px;
    height: 400px;
}

.aboutMeContainer{
    height: 480px;
}

